torch>=1.4.0
robustness>=1.1.post2
numpy>=1.18.2
torchvision>=0.5.0
tensorboardX>=2.0
advex-uar>=0.0.5.dev0
git+git://github.com/fra31/auto-attack#egg=autoattack
recoloradv==0.0.1
git+https://github.com/numpy/numpy-stubs#egg=numpy-stubs
